@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  button {
    @apply transition;
  }

  a {
    @apply text-green-700 underline
        decoration-green-700/60 decoration-2
        hover:decoration-green-700 hover:bg-green-200
        outline-0 focus:ring-2 focus:ring-offset-1 focus:ring-green-500;
  }

  ::selection {
    @apply bg-green-200 text-green-950;
  }

  button:focus,
  input:focus {
    @apply outline-0 ring-2 ring-offset-1 ring-green-500 caret-green-500;
  }

  label,
  strong,
  b {
    @apply font-semibold;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-balance;
  }

  p {
    @apply text-pretty;
  }
}
